@media (min-width: 992px) {

    body {
        background-color: rgb(231, 208, 177);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .content {
        width: 600px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
        padding: 25px;
    }

    img {
        border-radius: 10px;
    }

    .recipe p {
        font-size: 14px;
    }

    .preparation {
        background-color: rgba(255, 141, 160, 0.421);
        padding: 20px;
        border-radius: 8px;
        line-height: 25px;
        color: rgb(133, 0, 108);

    }

    .preparation span {
        font-weight: bold;
        font-size: 17px;
        color: rgb(133, 0, 108);
    }

    .preparation li {
        padding-left: 10px;

    }

    h2 {
        color: brown;
    }

    .ingredient li {
        padding-left: 10px;
        line-height: 25px;
        color: brown;
    }

    .ingredient li span {
        color: black;
    }

    .instruction ol {
        padding-left: 25px;
    }

    .instruction li {
        padding-bottom: 5px;
        color: brown;
        font-weight: bold;
        padding-left: 10px;
    }

    .instruction .steps {
        color: black;
    }

    .instruction .points {
        color: black;
        font-weight: 100;
    }


    .nutrition .row {
        display: flex;
        padding-left: 30px;

    }

    .nutrition .column1 {
        width: 50%;
    }

    .nutrition .column2 {
        color: brown;
        font-weight: bold;
    }
}

@media(max-width: 767px) {
    body {
        background-color: rgb(231, 208, 177);
        margin: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 25px;
    }

    .preparation {
        background-color: rgba(255, 141, 160, 0.421);
        padding: 20px;
        border-radius: 8px;
        line-height: 25px;
        color: rgb(133, 0, 108);

    }

    .preparation span {
        font-weight: bold;
        font-size: 17px;
        color: rgb(133, 0, 108);
    }

    .preparation li {
        padding-left: 10px;

    }

    h2 {
        color: brown;
    }

    .ingredient li {
        padding-left: 10px;
        line-height: 25px;
        color: brown;
    }

    .ingredient li span {
        color: black;
    }

    .instruction ol {
        padding-left: 25px;
    }

    .instruction li {
        padding-bottom: 5px;
        color: brown;
        font-weight: bold;
        padding-left: 10px;
    }

    .instruction .steps {
        color: black;
    }

    .instruction .points {
        color: black;
        font-weight: 100;
    }


    .nutrition .row {
        display: flex;
        padding-left: 30px;

    }

    .nutrition .column1 {
        width: 50%;
    }

    .nutrition .column2 {
        color: brown;
        font-weight: bold;
    }
}